:root {
  --color:rgb(136, 221, 210);
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2a607c;
  color: #ffffff;
}

.header h1 {
  display: inline-block;
  font-size: 50px;
  background-color: var(--color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

a {
  color: var(--color);
  text-decoration: none;
}

nav {
  display: inline;
}

nav a {
  color: var(--color);
  padding: 14px 20px;
  text-decoration: underline;
  text-align: right;
}

/* 
What is the flex-wrap property?
It specifies whether the flex items should wrap or not 
*/
main {
  display: flex;
  flex-wrap: wrap;
}
/* Adds an image under the header */
.display-image{
  width: 100%;
  height: 150px;
  margin: 2px;
  /*background-image: url("../images/image_header.png"); */
  background-size: cover;
  background-position: center;
}
/* Justify the Title profile inside the header image */
.display-image h2 {
  display: flex;
  justify-content: flex-end;
  color: red;
  margin: 100px 20px 10px 0;
}

.content {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 10px; */
}
.about {
  margin-bottom: 20px;
  padding: 50px;
  height: 200px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}

.work {
  margin-bottom: 20px;
  padding: 10%;
  height: 400px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff;
}
.contact {
  display: inline-block;
  padding: 10%;
  height: 168px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #0072bb;
  color: #ffffff
  }
.labels {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: left;
  width: 20%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #2589bd;
}
.labels-lead {
  margin-bottom: 32px;
  color: #ffffff;
}

footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.works-catalog {
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  flex: 0 0 200px;
  margin: 10px;
}
#big-card{
  width: 100%;  
  flex: 0 0 800px;
}

.card header {
  padding: 20px;
}

.card img {
  width: 80%;
}

/*telling the main body and navbar to stack vertically in a column
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}